.world {
    font-family: "Roboto";
}

.body-area {
    padding-top: 25px;
}

.pagination {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.breed-chart {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

tspan {
    font-weight: bold;
    font-size: 110%;
}

.trait-table {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.breed-show {
    display: flex;
    justify-content: center;
}

.breeds-back-button {
    display: flex;
    justify-content: center;
}

.cats-back-button {
    display: flex;
    justify-content: center;
}

.location-form {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.cat-show-pic {
    margin: auto;
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.full-cat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pic-facts {
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.pic-area {
    margin: 25px;

    min-width: 600px;
    max-width: 600px;
}

.cat-facts {
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 600px;
    max-width: 600px;
}

.map-org {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.org-section {
    font-size: large;
    margin: 25px;
    min-width: 600px;
    max-width: 600px;
}

.cat-map {
    margin: 25px;
    min-width: 600px;
    max-width: 600px;
}

.breed-show-pic {
    margin: auto;
    display: block;
    max-width: 600px;
    max-height: 600px;
    width: auto;
    height: auto;
}

.breedcard-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.breed-info {
    margin: 10px;
}

.breed-filter {
    margin: 10px;
}

.filter-adoptable {
    display: flex;
    flex-direction: row;
}

.cat-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 25px;
    width: 250px;
    height: 250px;
    text-align: center;
}

.no-cats {
    padding-right: 250px;
    padding-top: 125px;
}

.login-form {
    padding-top: 50px;
    text-align: center;
}

.signup-form {
    padding-top: 50px;
    text-align: center;
}

.no-cats {
    text-align: center;
    width: 100%;
}

.cat-grid {
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 1230px;
    margin: auto;
}

.grid-cat {
    margin: 5px;
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    max-width: 400px;
}

.grid-cat-pic {
    margin: auto;
    display: block;
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    max-width: 400px;
    width: auto;
    height: auto;
}

.scroll-button {
    position: fixed;
    bottom: 25px;
    right: 25px;
  }