.world {
    font-family: "Roboto";
}

.body-area {
    padding-top: 25px;
}

.pagination {
    padding-top: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.breed-chart {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

tspan {
    font-weight: bold;
    font-size: 110%;
}

.trait-table {
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.breed-show {
    display: flex;
    justify-content: center;
}

.breeds-back-button {
    display: flex;
    justify-content: center;
}

.cats-back-button {
    display: flex;
    justify-content: center;
}

.org-section {
    margin: 25px;
}

.cat-map {
    margin: 25px;
}

.full-cat {
    margin: 25px;
    display: flex;
    flex-direction: column;
}

.location-form {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}

.cat-facts {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.map-org {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.breedcard-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.breed-info {
    margin: 10px;
}

.breed-filter {
    margin: 10px;
}

.filter-adoptable {
    display: flex;
    flex-direction: row;
}

.cat-filter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 25px;
    width: 250px;
    height: 250px;
    text-align: center;
}

.no-cats {
    padding-right: 250px;
    padding-top: 125px;
}