body {
  margin: 0px
}

/* .nav-bar {
  padding: 10px;
  background-color: darkorange;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  cursor: pointer;
}

.nav-item:active {
  color: slategrey;
} */