body {
  margin: 0px;
  background-color: cyan;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* .nav-bar {
  padding: 10px;
  background-color: darkorange;
  display: flex;
  justify-content: space-around;
}

.nav-item {
  cursor: pointer;
}

.nav-item:active {
  color: slategrey;
} */